
<!-- carrito.component.html -->
<div class="p-8">
<div class="container mx-auto my-8">
  
    <div *ngIf="productosEnCarrito && productosEnCarrito.length > 0">
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <li *ngFor="let producto of productosEnCarrito" class="bg-white p-4 shadow-md rounded-md">
          <h3 class="text-xl font-semibold">{{ producto.nombre }}</h3>
          <p class="text-gray-700">${{ producto.precio | number: '1.2-2' }}</p>
          <!-- Otros detalles del producto según sea necesario -->
          <button (click)="eliminarProductoDelCarrito(producto.id)" class="mt-4 bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Eliminar</button>
        </li>
      </ul>
  
      <div class="mt-8">
        <p class="text-xl font-semibold">Total: S/{{ calcularTotal() | number: '1.2-2' }}</p>
        <button class="mt-4 bg-green-500 text-white p-2 rounded hover:bg-green-600">Realizar Compra</button>
      </div>
    </div>
  
    <div *ngIf="productosEnCarrito && productosEnCarrito.length === 0">
      <p class="text-xl">Tu carrito está vacío. ¡Agrega productos!</p>
    </div>
  </div>
</div>