
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
<!-- producto-list.component.html -->
<div class="container mx-auto mt-8">
    <h2 class="text-3xl font-bold mb-4">Productos</h2>
  
    <!-- Lista de Productos -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div *ngFor="let producto of productos" class="bg-white p-4 shadow-md rounded-md">
        <h3 class="text-xl font-semibold">{{ producto.nombre }}</h3>
        <p class="text-gray-700">${{ producto.precio | number: '1.2-2' }}</p>
        <!-- Otros detalles del producto según sea necesario -->
        <button class="mt-4 bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Agregar al Carrito</button>
      </div>
    </div>
  
    <!-- Sección de Productos Relacionados con Carrusel -->
    <owl-carousel-o [options]="carouselOptions">
      <div *ngFor="let producto of productos" class="bg-white p-4 shadow-md rounded-md">
        <h3 class="text-xl font-semibold">{{ producto.nombre }}</h3>
        <p class="text-gray-700">${{ producto.precio | number: '1.2-2' }}</p>
        <!-- Otros detalles del producto según sea necesario -->
        <button class="mt-4 bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Agregar al Carrito</button>
      </div>
    </owl-carousel-o>
  </div>
  
</body>
</html>