


    <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
        <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
           <ul class="space-y-2 font-medium" *ngFor="let categoria of categorias">
              <li>
    
                 <div class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group">
                    <input checked id="checked-checkbox" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    (change)="onCheckboxChange($event, categoria.id, $event.target.checked)"
                    [checked]="categoriasMarcadas.includes(categoria)">
                    <span class="ms-3">{{ categoria.nombre }}</span>
                    <div class="absolute right-0 w-12 text-center">{{ categoria.cantidadDeProductos }}</div>
                 </div>
                
              </li>

           </ul>
        </div>
     </aside>

